<!DOCTYPE html>
<html>
  <head>
    <title>WHOLE WORLD!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style>
    body
    {
      background-color: lightblue;
    }
    </style>
  </head>
  <div class="jumbotron">
    <h1>Countries!</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Continent</th>
        <th scope="col">Capital</th>
        <th scope="col">Population</th>
        <th scope="col">Life Expectancy</th>

      </tr>
    </thead>
    <tbody>

      @foreach (var country in Model)
      {
      <tr>
        <th scope="row">@country.GetName()</th>
        <td>@country.GetContinent()</td>
        <td>@country.GetCapital()</td>
        <td>@country.GetPopulation()</td>
        <td>@country.GetLifeEcpectancy()</td>

      </tr>
      }
    </tbody>
  </table>
